@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	font-family: "Inter";
}

.header-shadow {
	box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 12%);
}

.circle {
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid black;
	text-align: center;
	padding-top: 6px;
}

@layer components {
	.projects-container {
		@apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 justify-items-center;
	}

	.project-card {
		@apply rounded-md shadow-md bg-white border border-stone-300 h-[32rem] w-5/6 p-4 my-[2rem] mx-0 hover:border-stone-900 overflow-hidden;
	}
	
	.project-card h3 {
		@apply text-center text-3xl font-semibold uppercase;
	}

	.project-thumbnail {
		@apply w-2/3 h-48 text-center border border-black py-4 mx-auto;
	}
}
