@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	font-family: "Inter";
}

html, body {
	width: 100%;
	height: 100%;
}

.header-shadow {
	box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 12%);
}

.circle {
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid black;
	text-align: center;
	padding-top: 6px;
}

@layer components {
	.projects-container {
		@apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 justify-items-center;
	}

	.project-card {
		@apply rounded-md shadow-md bg-white border border-stone-300 h-[36rem] w-5/6 p-4 my-[2rem] mx-0 hover:border-stone-900;
	}

	.project-card-content {
		@apply overflow-hidden w-full h-full flex flex-col;
	}
	
	.project-card h3 {
		@apply text-center text-3xl font-semibold uppercase;
	}

	.project-thumbnail {
		@apply w-2/3 h-48 text-center py-4 mx-auto;
	}

	.project-card-links-row {
		@apply relative p-4 flex-1;
	}

	.project-card-link {
		@apply absolute text-xl font-semibold hover:underline bottom-0 align-bottom;
	}

	.project-card-demo {
		@apply left-0;
	}

	.project-card-github {
		@apply right-0;
	}
}
